<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form" action="localhost:3000/prueba2/11" method="PATCH" enctype="multipart/form-data">
        <label for="">Imagen</label>
        <input type="file" name="imagen"> <br>
        <label for="">Categoria</label>
        <input type="text" name="idcategoria"><br>
        <label for="">Nombre</label>
        <input type="text" name="nombre"> <br>
        <label for="">Descripcion</label>
        <input type="text" name="descripcion"><br> 
        <label for="">Total</label>
        <input type="text" name="total"> <br>
    <button id="sub" type="submit">enviar</button>
    
    </form>

    <script>
        const form = document.getElementById("form")

        form.addEventListener("submit", async (e) => {
            e.preventDefault();

            await fetch("localhost:3000/prueba2/11", {
                method: "PATCH",
                body: ({
                    imagen: document.ge
                })
                File
            })
        })
    </script>
</body>
</html>